@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #000;
  transition: all 0.5s ease;
}

.container {
  max-width: 1212px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 21px 0 21px;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s, -webkit-border-radius 0.3s, -webkit-box-shadow 0.3s;
}

.btn {
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  background-color: gray;
}

h1 {
  font-size: 25px;
  text-align: center;
  margin: 0 0 50px;
}

.main {
  margin: 50px 0 50px;
}
.main .list .notes {
  margin: 0 0 0 30px;
}
.main .list .notes li {
  position: relative;
  margin: 0 0 20px 0;
}
.main .list .notes li::before {
  font-family: "FontAwesome";
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  cursor: pointer;
}
.main .btns {
  color: #fff;
}
.main .btns .item_input {
  display: inline-block;
  width: 350px;
  padding: 10px 20px;
  background-color: gray;
  border-radius: 5px;
  margin: 0 50px 0 0;
  color: #fff;
}
.main .btns .item_input::placeholder {
  color: #fff;
}
.main .btns .btn_submit {
  margin: 0 30px 0;
}
.memory h1 {
  margin: 100px 0 50px 0;
}
.memory .cards {
  position: relative;
  perspective: 1000px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0 50px;
}
.memory .cards .cards__item {
  cursor: pointer;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  margin: 0 0 40px;
}
.memory .cards .cards__item .card_front {
  transform: rotateX(0deg);
  backface-visibility: hidden;
  background-color: gray;
  width: 350px;
  height: 300px;
  border-radius: 5px;
}
.memory .cards .cards__item .card_front h1 {
  margin: 0;
  padding: 40% 0;
}
.memory .cards .cards__item .card_back {
  backface-visibility: hidden;
  transform: rotateY(180deg);
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  height: 100%;
}
.memory .cards .cards__item .card_back img {
  max-width: 350px;
  width: 100%;
  max-height: 300px;
  height: 100%;
  border-radius: 5px;
}
.memory .cards .cards__item.flip {
  transform: rotateY(180deg);
}

/*# sourceMappingURL=style.css.map */
