*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #000;
  transition: all 0.5s ease;
}

.container{
  max-width: 1212px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 21px 0 21px;
  transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
}
.btn{
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  background-color: gray;
}
h1{
  font-size: 25px;
  text-align: center;
  margin: 0 0 50px;
}
//=======To Do List  ============================================================//
.main{
  margin: 50px 0 50px;
  .list{
    .notes{
      margin: 0 0 0 30px;
      li{
        position: relative;
        margin: 0 0 20px 0;

        &::before{
          font-family: "FontAwesome";
          content: "\f00d";
          position: absolute;
          top: 0;
          left: -30px;
          cursor: pointer;
        }
      }
    }
  }
  .btns{
    color: #fff;
    .item_input{
      display: inline-block;
      width: 350px;
      padding: 10px 20px;
      background-color: gray;
      border-radius: 5px;
      margin: 0 50px 0 0;
      color: #fff;
      &::placeholder{
        color: #fff;
      }
    }
    .btn_submit{
      margin: 0 30px 0;
    }
    .btn_clear{}
  }
}

//====  Memory Game ===============================================================//

.memory{

  h1{
    margin: 100px 0 50px 0;
  }
  .cards{
    position: relative;
    perspective: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 50px;
    .cards__item{
      cursor: pointer;
      position: relative;
      transform-style: preserve-3d;
      transition: transform 0.8s;
      margin: 0 0 40px;
      .card_front{
        transform: rotateX(0deg);
        backface-visibility: hidden;
        background-color: gray;
        width: 350px;
        height: 300px;
        border-radius: 5px;
        h1{
          margin: 0;
          padding: 40% 0;
        }
      }
      .card_back{
        //display: none;
        backface-visibility: hidden;
        transform: rotateY(180deg);
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        height: 100%;
        img{
          max-width: 350px;
          width: 100%;
          max-height: 300px;
          height: 100%;
          border-radius: 5px;
        }
      }
    }
    .cards__item.flip{
      transform: rotateY(180deg);
    }
  }
}



























